//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-1
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Fri 10 25 09:30:45 2024

IO_LOC "GPIO_io[3]" N16;
IO_PORT "GPIO_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO_io[2]" N14;
IO_PORT "GPIO_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO_io[1]" L14;
IO_PORT "GPIO_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO_io[0]" L16;
IO_PORT "GPIO_io[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "JTAG_9_io" N8;
IO_PORT "JTAG_9_io" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "HCLK_i" H11;
IO_PORT "HCLK_i" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "JTAG_7_io" L9;
IO_PORT "JTAG_7_io" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
